<head><title>{{ blog.blog_name }}</title></head>
<body>
    <h1>{{ blog.blog_name }}</h1>
    <p>{{ blog.blog_description }}</p>
    <h2>Posts</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    (Created: {{ post.created_date }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
    <a href="{% url 'blog_list' %}">Back to Blogs</a>
</body>