{% extends 'base.html' %}
{% block content %}
<h1>{{ blog.blog_name }}</h1>
<p>{{ blog.blog_description }}</p>
{% if request.user == blog.owner %}
    <a href="{% url 'edit_blog' %}">Edit Blog</a>
    <a href="{% url 'create_post' %}">Create Post</a>
{% endif %}
<h2>Posts</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    (Created: {{ post.created_date }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
<a href="{% url 'blog_index' %}">Back to Blogs</a>
{% endblock %}
