{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
{% if request.user == blog.owner %}
    <a href="{% url 'edit_post' post.id %}">Edit Post</a>
    <a href="{% url 'delete_post' post.id %}">Delete Post</a>
{% endif %}
<p>{{ post.content }}</p>
<p>Created: {{ post.created_date}} Last updated: {{ post.updated_date }}</p>
<hr>
<h3>Add a Comment</h3>
<form method="post" action="{% url 'add_comment' post.id %}">
    {% csrf_token %}
    <textarea name="comment_content"></textarea>
    <button type="submit">Submit Comment</button>
</form>
<h2>Comments</h2>
{% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                <small>Comment Published On: {{ comment.date_published}}</small> <br>
                {{ comment.user.username }}: {{ comment.comment_content }}
            </li>
            {% if request.user == comment.user %}
                <form method="post" action="{% url 'delete_comment' comment.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                <a href="{% url 'edit_comment' comment.id %}">Edit</a>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No comments yet.</p>
{% endif %}
<hr>
<a href="{% url 'blog_detail' post.blog.id %}">Back to Blog</a>
{% endblock %}
